body{
	/*background-color: #66ccff;*/
	background-color: #ffffff;
}

.game-board { 
	width: 100%;
	height: auto;
}

.cell {
	background-color: #b1eff5;
	min-height: 1px;
	min-width: 6.6%;
	max-width: 6.7%;
	float: left;
	border: 1px solid
}

.grid-board{
	border: 3px solid;
}

.relative-position{
	position: relative;
}

.absolute-position, #canvasgame{
position: absolute;
top: 0;
left: 0;
}
.overlapping{
	z-index: -1;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.scrolling-chat{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: auto;
}
.break-text{
	word-break: break-all;	
}

.margin-game-buttons{
	margin-bottom: 20px;
}


#gameBridgeCanvas {
	background-color: #b1eff5;
	width: 100%;
	height: auto;
	
}

